@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

$fontOne: "Roboto", sans-serif;
$fontTwo: "Silkscreen", sans-serif;

$backgroundColor: #fdd8aa;

body {
  padding: 0;
  margin: 0;
  background-color: $backgroundColor;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: clamp(500px, 100%, 10000px);

  .poke-Title {
    font-family: $fontOne;
    font-size: 35px;
    font-weight: 600;
  }

  .head {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;

    .poke-Card {
      background-color: white;
      border-radius: 1rem;
      height: 250px;
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 5px;
      text-align: center;
      align-items: center;
      box-shadow: 0 0 10px rgb(55, 56, 56);
      cursor: pointer;
      margin: 10px;

      .poke-Img {
        height: 110px;
      }

      .poke-Ifo-Card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-family: $fontOne;

        .poke-Id-Wrap {
          background-color: #fdd8aa;
          padding: 3px 8px;
          border-radius: 5px;
        }

        .poke-Name {
          font-size: 25px;
          padding: 0;
          margin: 0;
        }

        .poke-Type {
          font-size: 15px;
        }
      }
    }
  }
}
