@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: clamp(500px, 100%, 10000px);
  background-color: #fdd8aa;
}

.header .poke-Title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.header .head {
  display: flex;
  flex-direction: row;
  text-align: start;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
}

.header .head .poke-Card {
  background-color: white;
  border-radius: 1rem;
  height: 250px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(55, 56, 56);
  cursor: pointer;
  margin: 10px;
}

.header .head .poke-Card .poke-Img {
  height: 110px;
}

.header .head .poke-Card .poke-Ifo-Card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: "Roboto", sans-serif;
}

.header .head .poke-Card .poke-Ifo-Card .poke-Id-Wrap {
  background-color: #fdd8aa;
  padding: 3px 8px;
  border-radius: 5px;
}

.header .head .poke-Card .poke-Ifo-Card .poke-Name {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.header .head .poke-Card .poke-Ifo-Card .poke-Type {
  font-size: 15px;
}
